<mat-card class="wrapper mat-elevation-z8">

    <mat-card-title> Nova Turma </mat-card-title>
    <form autocomplete="off">
        <mat-form-field appearance="outline">
            <mat-label>Nome da Turma</mat-label>
            <input matInput [(ngModel)]="classes.nome" name="nome">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nome do Professor</mat-label>
            <input matInput [(ngModel)]="classes.professor" name="professor">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createClass()" color="primary"> Salvar </button>
    <button mat-raised-button (click)="cancel()" color="warn"> Cancelar </button>

</mat-card>