.nav-list {
    display: flex;
    column-gap: 2vw;
    align-items: center;
    justify-content: center;
    padding-right: 2vw;
}

.nav-list a {
    color: white;
    align-items: center;
    font-size: 1.1rem;

}

.content {
    padding: 16px;
}