<mat-card>

    <mat-card-title> Excluir Turma </mat-card-title>
    <form>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Nome da Turma" [value]="classes.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Nome do Professor" [value]="classes.professor" name="professor" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteClass()" color="warn"> Excluir </button>
    <button mat-raised-button (click)="cancel()"> Cancelar </button>

</mat-card>
