<mat-card class="wrapper mat-elevation-z8">
    <mat-card-title> Excluir Turma </mat-card-title>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Nome da Turma</mat-label>
            <input matInput [(ngModel)]="classes.nome" name="nome">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nome do Professor</mat-label>
            <input matInput [(ngModel)]="classes.professor" name="professor">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteClass()" color="warn"> Excluir </button>
    <button mat-raised-button (click)="cancel()"> Cancelar </button>
</mat-card>
