.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 2vw;
}

.title {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;

}

button {
    margin: 10px 15px 0px 0px;
}

.identidade {
    display: flex;
    column-gap: 3vh;
}

.telefones {
    display: flex;
    column-gap: 3vh;
}

.outros {
    display: flex;
    column-gap: 3vh;
}