<mat-card class="wrapper mat-elevation-z8">
    <mat-card-title class="title"> Excluir Aluno </mat-card-title>
    <mat-card class="mat-elevation-z4">
        <mat-card-subtitle> Dados Pessoais </mat-card-subtitle>
        <form autocomplete="off">    
            <mat-form-field appearance="outline">
                <mat-label>Nome Completo</mat-label>
                <input matInput [(ngModel)]="student.nomeCompleto" name="nomeCompleto" required readonly>
            </mat-form-field>
            
            <div class="identidade">
                <mat-form-field appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input matInput [(ngModel)]="student.cpf" name="cpf" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Identidade</mat-label>
                    <input matInput [(ngModel)]="student.identidade" name="identidade" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Data de Expedição</mat-label>
                    <input matInput [(ngModel)]="student.emissaoDaIdentidade" name="emissaoDaIdentidade">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Orgão Expedidor</mat-label>
                    <input matInput [(ngModel)]="student.orgaoExpedidorDaIdentidade" name="orgaoExpedidorDaIdentidade">
                </mat-form-field>
            </div>
            <div class="identidade">
                <mat-form-field appearance="outline">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput [(ngModel)]="student.dataDeNascimento" name="dataDeNascimento">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Idade</mat-label>
                    <input matInput [(ngModel)]="student.idade" name="idade">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Cidade de Nascimeno</mat-label>
                    <input matInput [(ngModel)]="student.cidadeDeNascimento" name="cidadeDeNascimento">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Estado de Nascimento</mat-label>
                    <input matInput [(ngModel)]="student.estadoDeNascimento" name="estadoDeNascimento">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Nome do pai</mat-label>
                <input matInput [(ngModel)]="student.nomeDoPai" name="nomeDoPai">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nome da mãe</mat-label>
                <input matInput [(ngModel)]="student.nomeDaMae" name="nomeDaMae">
            </mat-form-field>
            <div class="outros">
                <mat-form-field appearance="outline">
                    <mat-label>Religião</mat-label>
                    <input matInput [(ngModel)]="student.religiao" name="religiao">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Tipo Sanguíneo</mat-label>
                    <input matInput [(ngModel)]="student.tipoSanguineo" name="tipoSanguineo">
                </mat-form-field>
            </div>
        </form>
    </mat-card>

    <mat-card class="mat-elevation-z4">
        <mat-card-subtitle> Contato </mat-card-subtitle>
        <form>
            <div class="telefones">
                <mat-form-field appearance="outline">
                    <mat-label>Número do Celular</mat-label>
                    <input matInput [(ngModel)]="student.numeroCelular" name="numeroCelular">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Número Residencial</mat-label>
                    <input matInput [(ngModel)]="student.numeroResidencial" name="numeroResidencial">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Número de Familiar</mat-label>
                    <input matInput [(ngModel)]="student.numeroDeFamiliar" name="numeroDeFamiliar">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input type="email" matInput [(ngModel)]="student.email" name="email">
            </mat-form-field>
            
        </form>
    </mat-card>

    <mat-card class="mat-elevation-z4">
        <mat-card-subtitle> Endereço </mat-card-subtitle>
        <form>
            <div class="endereco">
                <mat-form-field appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input matInput [(ngModel)]="student.cep" name="cep">
                </mat-form-field>
                <mat-form-field appearance="outline" class="rua">
                    <mat-label>Rua</mat-label>
                    <input matInput [(ngModel)]="student.rua" name="rua">
                </mat-form-field>
            </div>
            <div class="endereco">
                <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input matInput [(ngModel)]="student.bairro" name="bairro">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input matInput [(ngModel)]="student.cidade" name="cidade">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input matInput [(ngModel)]="student.estado" name="estado">
                </mat-form-field>
            </div>
        </form>
    </mat-card>

    <mat-card class="mat-elevation-z4">
        <mat-card-subtitle> Escolaridade </mat-card-subtitle>
        <form>
            <div class="escolaridade">
                <mat-form-field appearance="outline">
                    <mat-label>Grau de Formação</mat-label>
                    <input matInput [(ngModel)]="student.grauDeFormacao" name="grauDeFormacao">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Ano de Conclusão</mat-label>
                    <input matInput [(ngModel)]="student.anoDeConclusao" name="anoDeConlusao">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Nome da Escola</mat-label>
                <input matInput [(ngModel)]="student.nomeDaEscola" name="nomeDaEscola">
            </mat-form-field>
        </form>
    </mat-card>

    <mat-card class="mat-elevation-z4">
        <mat-card-subtitle> Renda Familiar </mat-card-subtitle>
        <form>
            <div class="rendaFamiliar">
                <mat-form-field appearance="outline">
                    <mat-label>Profissão do Pai</mat-label>
                    <input matInput [(ngModel)]="student.profissaoDoPai" name="profissaoDoPai">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Profissão da Mãe</mat-label>
                    <input matInput [(ngModel)]="student.profissaoDaMae" name="profissaoDaMae">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Renda Familiar</mat-label>
                    <input matInput [(ngModel)]="student.rendaFamiliar" name="rendaFamiliar">
                </mat-form-field>
            </div>
        </form>
    </mat-card>

    <mat-card class="mat-elevation-z4">
        <mat-card-subtitle> Turma </mat-card-subtitle>
        <form>
            <div class="turma">
                <mat-form-field appearance="outline">
                    <mat-label>Nome da Turma</mat-label>
                    <input matInput [(ngModel)]="student.nomeDaTurma" name="nome">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Professor</mat-label>
                    <input matInput [(ngModel)]="student.professor" name="professor">
                </mat-form-field>
            </div>
        </form>
    </mat-card>

    <div>
        <button mat-raised-button (click)="deleteStudent()" color="primary"> Excluir </button>
        <button mat-raised-button (click)="cancel()" color="warn"> Cancelar </button>
    </div>
</mat-card>
<app-footer></app-footer>
